{% extends 'base.html.twig' %}

{% block main %}
    <h1>Créer un lieu de sortie</h1>

    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <input type="submit" value="Enregistrer" href="/sortie/create.html.twig">
    <input type="submit" value="Annuler">
    {{ form_end(lieuForm) }}

{% endblock %}