{% extends 'base.html.twig' %}

{% block main %}
    <h1>Afficher une sortie</h1>
    <p>
        Nom de la sortie: <b>{{ sortie.nom }}</b>
    </p>
    {# <p>
        Date et heure de la sortie: {{sortie.dateheuredebut|date('d-m-Y à H:i')}}
    </p>
    <p>
        Date limite d'inscription: {{sortie.datelimiteinscription|date('d-m-Y')}}
    </p>
    <p> Nombre de places: {{sortie.nbinscriptionsmax}} </p>
    <p>  Durée: {{sortie.duree}}</p>
    <p> Description et info: {{sortie.infossortie}}</p>



    <p>  Ville organisatrice: {{ ville.nom }}</p>
    <p>  Lieu: {{ lieu.nom}}</p>
    <p> Rue: {{ ville.rue }}</p>
    <p> Code postal: {{ ville.codepostal }}</p>
    <p>  Latitude: {{ ville.latitude }}</p>
    <p>  Longitude: {{ ville.longitude }}</p>#}


{% endblock %}