<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,900;1,200;1,400;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {#  <link rel="icon" href="{{ asset('images/favicon.png') }}">#}
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
<div class="Page container" >
    <nav class="Navbar Page_Nav">
        <h1 class="Title Navbar_Title">
                 <img src="{{ asset('image/SortirLogo.png') }}" alt="Sortir logo" class="Logo">


        </h1>

        <ul class="Menu Navbar_Menu">


        </ul>
    </nav>

    <header class="Header Page_Header">

    </header>

    <div class="Page_Contents">
        <main class="Page_Main">
            {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash flash-{{ type }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block main %}
            {% endblock %}
        </main>
        <aside class="Page_Aside">
            {% block aside %}
            {% endblock %}
        </aside>
    </div>

    <footer class="Footer Page_Footer">
        <p class="Copyrights">
            &copy; Projet Symfony 2021 - Aurore, Alexis L, Alexis D et Mathieu
        </p>

    </footer>
</div>
</body>
</html>
